.li-container {
  border-bottom: 2px solid #8a2b06;
}
.main-container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  width: 100%;
}
.second-container {
  width: 80%;
}
.second-container h2 {
  font-weight: 100;
  padding: 0px;
  margin: 2px;
}
.price-helper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.price-helper span {
  width: 100px;
}
.button--alt {
}
.button {
}
